################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/.vs/CoinbaseProToolsForm/v15/Server/sqlite3
/.vs/CoinbaseProToolsForm/v15
/packages
/bin
/obj/Release
/secret.config
